@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

:root {
    --darkest: #1b2536;
    --dark: #344f75;
    --lightest: #4A7287;
    --green: #B8FFC3;
    --smaller-width: min(90%, 50rem);
    --mid-width: min(90%, 65rem);
    --larger-width: min(90%, 80rem);

    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
    /* More manual, painful gradient to try and combat banding */
    background: linear-gradient(180deg, #344f75, #334e73, #324b6f, #2f4769, #2d4261, #293c59, #263650, #233148, #202c41, #1d283b, #1c2637, #1b2536 45rem);
    padding-bottom: min(20rem, 25vh);
}

/* HEADERS */

h1 {
    color: var(--green);
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    color: var(--green);
    font-size: 1.8rem;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    color: var(--green);
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

h4 {
    color: var(--green);
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    font-weight: 300;
    color: #fcfcfc;
    line-height: 1.8rem;
}

hr {
    width: 80%;
    background-color: var(--dark);
    border: none;
    height: 2px;
    margin: 1.5rem auto;
}

/* UTILITY */

.white {
    color: white;
}

.fancy-link {
    color: var(--green);
    text-decoration: none;
}

.fancy-link:after {
    color: var(--green);
    content: "<";
    position: absolute;
    margin-left: 0.2rem;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}

.fancy-link:hover {
    color: white;
}

.fancy-link:hover:after {
    opacity: 1;
}

.code {
    color: var(--green);
    background-color: var(--dark);
    font-family: monospace;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    margin: 5px;
}

.wide {
    column-span: all;
    margin-bottom: 2rem;
}

.center {
    text-align: center;
    margin-top: 3rem;
}

/* LOGO */

.header-circle {
    background-color: var(--dark);
    border-radius: 50px;
    position: fixed;
    top: 1.7rem;
    left: 2rem;
    width: 3.5rem;
    height: 3.5rem;
}

.title {
    color: inherit;
    text-decoration: none;
    margin-left: 1.3rem;
    cursor: pointer;

    top: 2rem;
    left: 2rem;
    position: fixed;
    z-index: 1;
}

.title-span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity 0.15s ease-out, transform 0.3s ease-out;
}

.title:hover > .title-span {
    opacity: 1;
    transform: translateY(0);
}

/* CONTENT */

#home, section, article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: min(15rem, calc(15vh + 4rem)) 0 0;
    margin: 0 auto;
}

#home {
    max-width: var(--smaller-width);
    text-align: center;
    padding-bottom: min(15rem, calc(20vh + 4rem));
}

#home h3 {
    font-size: 1.2rem;
}

section, article {
    max-width: var(--mid-width);
    margin-bottom: 0;
}

/* DESCENT */

#descent {
    display: flex;
    gap: 5rem;
    padding-bottom: 10vh;
}

#descent > ul {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2rem;
    list-style: none;
}

#descent hr, article hr {
    margin: 1.5rem 0;
}

/* ARTICLE */

.blog {
    padding-top: 10rem;
}

article > img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    opacity: 90%;
}

article {
    display: flow;
    columns: 2;
    column-gap: 5rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 10%);
    max-width: var(--larger-width);
    padding: 3rem 3rem 2rem;
}

article > div {
    margin-bottom: 3rem;
    page-break-inside: avoid;
}

article h2, article h2, article h3 {
    margin-bottom: 1.5rem;
    text-transform: initial;
}

article p {
    margin-bottom: 1.5rem;
}

article p:last-of-type {
    margin-bottom: 0;
}

article hr {
    width: 100%;
}

/* FOOTER */

.footer {
    color: var(--dark);
    opacity: 50%;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}


/* HAMBURGER - used with thanks from https://unused-css.com/blog/css-only-hamburger-menu/ */

/* Cover to disable interactions when hb menu is open */
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(120%);
    background: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
}

.hamburger-container {
    width: 30rem;
    position: absolute;
    top: 2.3rem;
    right: 2rem;
    transition: opacity 0.5s ease-in-out;
}

.hamburger-container .drawer a {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hamburger-container .checkbox:checked ~ .drawer a {
    opacity: 1;
}

.hamburger-container .checkbox:checked ~ .drawer, .checkbox:checked ~ .cover {
    transform: translateX(0%);
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(2) {
    opacity: 0;
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(3) {
    transform: translateY(-0.6rem) rotate(-45deg);
}

.hamburger {
    width: 2.5rem;
    height: 2rem;
    position: fixed;
    right: 2rem;
    display: block;
    transition: transform 0.5s ease;
    z-index: 6;
    padding-top: 5px;
}

.hamburger .slice {
    display: block;
    width: 90%;
    height: 3px;
    background-color: var(--green);
    transition: all 0.5s ease;
}

.hamburger .slice:not(:first-child) {
    margin-top: 8px;
}

.drawer {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: min(24rem, 50%);
    max-width: 100%;
    padding: 8rem 4rem 2rem;
    transform: translateX(120%);
    transition: transform 0.5s ease;
    z-index: 5;
    background: linear-gradient(180deg, #32556F, var(--darkest) 100%);
}

.drawer h3 {
    color: var(--green);
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.drawer .nav-list {
    list-style: none;
    margin-top: 3rem;
}

.nav-list > li {
    text-align: center;
}

.nav-list .fancy-link {
    color: white;
}

.nav-list .fancy-link:after {
    color: white;
}

.nav-list .fancy-link:hover {
    color: var(--green);
}

.nav-list > li:after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--lightest);
    margin: 1.5rem;
}

/* OCTOPUS */

@keyframes float {
    from {
        transform: translateY(-8px);
    }

    to {
        transform: translateY(8px);
    }

}

.octopus {
    max-width: 15rem;
    margin-bottom: 2rem;
    animation: float 1.8s ease-in-out alternate infinite;
    z-index: -1;
}

.bottom-tenta {
    position: absolute;
    width: 25rem;
    height: 35rem;
    bottom: 0;
    left: -4rem;
    background-image: url("../resources/tenta.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    mix-blend-mode: soft-light;
    z-index: -1;
}

@media screen and (max-width: 750px) {

    header {
        background-color: var(--dark);
        height: 5rem;
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    .hamburger, .hamburger-container .checkbox {
        top: 1.5rem;
        right: 1.5rem;
    }

    .drawer {
        min-width: 100%;
    }

    .title {
        top: 1rem;
        left: 1rem;
        margin-left: 0;
    }

    .title-span {
        opacity: 1;
        transform: none;
    }

    .header-circle {
        display: none;
    }

    #descent {
        flex-direction: column;
        text-align: center;
        padding-bottom: 0;
    }

    .bottom-tenta {
        left: -6rem;
        height: 20rem;
        width: 20rem;
    }

    #descent > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    article {
        columns: 1;
        padding: 3rem 2rem;
        max-width: 100%;
    }

}

