@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

:root {
    --darkest: #1b2536;
    --dark: #344f75;
    --lighter: #344F7C;
    --lightest: #4A7287;
    --drawer: #32556F;
    --green: #B8FFC3;

    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    /* More manual, painful gradient to try and combat banding */
    background: linear-gradient(180deg, #344f75, #334e73, #324b6f, #2f4769, #2d4261, #293c59, #263650, #233148, #202c41, #1d283b, #1c2637, #1b2536 45rem);
}

/* GENERIC */

.full-page {
    min-height: 100vh;
    padding-top: 25vh;
}

.white {
    color: white;
}

.fancy-link {
    color: var(--green);
    text-decoration: none;
}

.fancy-link:after {
    color: var(--green);
    content: "<";
    position: absolute;
    margin-left: 0.2rem;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}

.fancy-link:hover {
    color: white;
}

.fancy-link:hover:after {
    opacity: 1;
}

p {
    font-weight: 300;
    color: white;
}

/* HEADER */

.header-circle {
    background-color: var(--lighter);
    border-radius: 50px;
    position: fixed;
    top: 1.7rem;
    left: 2rem;
    width: 3.5rem;
    height: 3.5rem;
}

.title {
    color: var(--green);
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: normal;
    margin-left: 1.3rem;
    top: 2rem;
    left: 2rem;
    position: fixed;
    z-index: 1;
}

.title-span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity 0.15s ease-out, transform 0.3s ease-out;
}

.title:hover > .title-span {
    opacity: 1;
    transform: translateY(0);
}

/* MAIN  */

@keyframes float {
    from {
        transform: translateY(-8px);
    }

    to {
        transform: translateY(8px);
    }

}

.octopus {
    max-width: 15rem;
    margin-bottom: 2rem;
    animation: float 1.8s ease-in-out alternate infinite;
    z-index: -1;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
}

.main-content > h1 {
    color: var(--green);
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
}

.main-content > p {
    color: white;
}

.main-content > hr {
    width: 80%;
    background-color: var(--dark);
    border: none;
    height: 2px;
    margin: 1rem 0 1.5rem;
}

.main-content > h3 {
    color: var(--green);
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
}

/* DESCENT */

.descent {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 25vh;
    gap: 8rem;
}

.descent-text {
    max-width: 35rem;
}

.descent p, .descent h2 {
    color: white;
    text-align: left;
}

.descent p {
    margin-top: 1rem
}

.descent h2 {
    font-size: 2rem;
    font-weight: normal;
}

.descent hr {
    width: 90%;
    background-color: var(--green);
    border: none;
    height: 2px;
    margin: 0.5rem 0 1rem;
}

.descent-links {
    max-width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.links {
    list-style: none;
}

.links > li {
    color: var(--green);
    margin-bottom: 2rem;
}

.links > li:last-of-type {
    margin-bottom: 0;
}

/* BLOG */

.blog {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 18vh;
    padding-bottom: 25vh;
}

.bottom-tenta {
    position: absolute;
    width: 35rem;
    height: 40rem;
    bottom: 0;
    left: -6rem;
    background-image: url("../resources/tenta.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    mix-blend-mode: soft-light;
    z-index: -1;
}

.blog-title {
    color: white;
    font-size: 2rem;
    font-weight: normal;
}

.blog-subheader {
    color: var(--green);
    font-size: 1.5rem;
    font-weight: normal;
}

.blog-subheader:after {
    width: 60%;
    content: " ";
    display: block;
    border-bottom: 2px solid var(--lightest);
    margin: 0.5rem 0 1rem;
}

.blog-mini-header {
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 300;
}

.blog hr {
    width: 60%;
    background-color: var(--green);
    border: none;
    height: 2px;
    margin: 0.5rem 0 2rem;
}

.blog-content {
    columns: 2;
    column-gap: 5rem;
}

.blog-section {
    page-break-inside: avoid;
    margin-bottom: 2rem;
}

.blog-section > p {
    margin-bottom: 1rem;
}

.blog-section > p:last-child {
    margin-bottom: 0;
}

.blog > .home-link {
    margin-top: 3rem;
}

.wide-paragraph {
    column-span: all;
    margin-bottom: 2rem;
}

.conclusion {
    margin-top: 2rem;
}

.code {
    color: var(--green);
    background-color: var(--dark);
    font-family: monospace;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 5px;
    margin: 0 5px;
}

/* FOOTER */

.footer {
    color: var(--dark);
    opacity: 50%;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: -1;
}

/* HAMBURGER - used with thanks from https://unused-css.com/blog/css-only-hamburger-menu/ */

/* Cover to disable interactions when hb menu is open */
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(120%);
    background: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
}

.hamburger-container {
    width: 30rem;
    position: absolute;
    top: 2.3rem;
    right: 2rem;
    transition: opacity 0.5s ease-in-out;
}

.hamburger-container .checkbox {
    opacity: 0;
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 2rem;
    top: 2rem;
    z-index: 100;
    cursor: pointer;
}

.hamburger-container .drawer a {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hamburger-container .checkbox:checked ~ .drawer a {
    opacity: 1;
}

.hamburger-container .checkbox:checked ~ .drawer, .checkbox:checked ~ .cover {
    transform: translateX(0%);
}

.checkbox:checked ~ .cover {
    opacity: 20%;
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(2) {
    opacity: 0;
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(3) {
    transform: translateY(-0.6rem) rotate(-45deg);
}

.hamburger {
    width: 2.5rem;
    height: 2rem;
    position: fixed;
    right: 2rem;
    display: block;
    transition: transform 0.5s ease;
    z-index: 6;
    padding-top: 5px;
}

.hamburger .slice {
    display: block;
    width: 90%;
    height: 3px;
    background-color: var(--green);
    transition: all 0.5s ease;
}

.hamburger .slice:not(:first-child) {
    margin-top: 8px;
}

.drawer {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: min(24rem, 50%);
    max-width: 100%;
    padding: 8rem 4rem 2rem;
    transform: translateX(120%);
    transition: transform 0.5s ease;
    z-index: 5;
    background: linear-gradient(180deg, var(--drawer), var(--darkest) 100%);
}

.drawer h3 {
    color: var(--green);
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.drawer .nav-list {
    list-style: none;
    margin-top: 3rem;
}

.nav-list > li {
    text-align: center;
}

.nav-list .fancy-link {
    color: white;
}

.nav-list .fancy-link:after {
    color: white;
}

.nav-list .fancy-link:hover {
    color: var(--green);
}

.nav-list > li:after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--lightest);
    margin: 1.5rem;
}

@media screen and (max-width: 750px) {

    header {
        background-color: var(--dark);
        height: 5rem;
        width: 100%;
        position: fixed;
    }

    .title {
        top: 1rem;
        left: 1rem;
        margin-left: 0;
    }

    .title-span {
        opacity: 1;
        transform: none;
    }

    .header-circle {
        display: none;
    }

    .hamburger, .hamburger-container .checkbox {
        top: 1.5rem;
        right: 1.5rem;
    }

    .drawer {
        min-width: 100%;
    }

    .full-page {
        padding-top: 18vh;
    }

    .descent {
        flex-direction: column;
        gap: 3rem;
    }

    .descent, .blog, .main-content {
        max-width: 80%;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    .links > li {
        margin-bottom: 0;
    }

    .blog-content {
        columns: 1;
    }

    .blog-content > p {
        margin-bottom: 3rem;
    }

    .bottom-tenta {
        height: 20rem;
        width: 20rem;
    }

}
